In [2]:
import pandas as pd

In [5]:
s = pd.Series(['banana', 42])
print(s)

0    banana
1        42
dtype: object

In [5]:
scientists = pd.DataFrame({'Name':['Rosaline Franklin', 'William Gosset'],
                         'Occupation': ['Chemist', 'Statistician'],
                          'Born': ['1920-07-25', '1876-06-13'],
                          'Died': ['1958-04-16', '1937-10-16'],
                          'Age': [37, 61]})
print(scientists)

   Age        Born        Died               Name    Occupation
0   37  1920-07-25  1958-04-16  Rosaline Franklin       Chemist
1   61  1876-06-13  1937-10-16     William Gosset  Statistician

In [7]:
# Assign Index and Columns
scientists = pd.DataFrame({'Occupation': ['Chemist', 'Statistician'],
                          'Born': ['1920-07-25', '1876-06-13'],
                          'Died': ['1958-04-16', '1937-10-16'],
                          'Age':  [37, 61]},
                         index=['Rosaline Franklin', 'William Gosset'],
                         columns=['Occupation', 'Born', 'Died', 'Age'])
print(scientists)

                     Occupation        Born        Died  Age
Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
William Gosset     Statistician  1876-06-13  1937-10-16   61

In [20]:
first_row = scientists.loc['William Gosset']
print(first_row)
print("Keys")
print(first_row.keys())
print("Values")
print(first_row.values[0])
print("Get the first key name")
print(first_row.keys()[0])
print("Get the 2nd key name")
print(first_row.keys()[1])

Occupation    Statistician
Born            1876-06-13
Died            1937-10-16
Age                     61
Name: William Gosset, dtype: object
Keys
Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')
Values
Statistician
Get the first key name
Occupation
Get the 2nd key name
Born

In [36]:
ages = scientists['Age']
print(type(ages.mean()))
print('{:.1f}, {:.1f}, {:.1f}'.format(ages.min(), ages.max(), ages.mean()))

<class 'float'>
37.0, 61.0, 49.0

In [41]:
scientists = pd.read_csv('../data/scientists.csv')
print(scientists)
ages = scientists.Age

print(ages.describe())

                   Name        Born        Died  Age          Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician
count     8.000000
mean     59.125000
std      18.325918
min      37.000000
25%      44.000000
50%      58.500000
75%      68.750000
max      90.000000
Name: Age, dtype: float64

In [53]:
# Find the ages that are greater than the mean
print('Mean age: {:.2f}'.format(ages.mean()))
print('Ages greater than mean: {}'.format(ages[ages > ages.mean()]))

Mean age: 59.12
Ages greater than mean: 1    61
2    90
3    66
7    77
Name: Age, dtype: int64

In [55]:
# Test if each age in the series is greater than the mean
print(ages > ages.mean())

0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool

In [60]:
# Filtering a series
manual_bool_values=[True, True, False, False, True, True, False, False]
print(type(ages))
print(ages[manual_bool_values])

<class 'pandas.core.series.Series'>
0    37
1    61
4    56
5    45
Name: Age, dtype: int64

In [62]:
# Mathematical operations on a series
print(ages + ages)
print(ages * ages)
print(ages + 100)
print(ages * 2)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64
0    1369
1    3721
2    8100
3    4356
4    3136
5    2025
6    1681
7    5929
Name: Age, dtype: int64
0    137
1    161
2    190
3    166
4    156
5    145
6    141
7    177
Name: Age, dtype: int64
0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [63]:
# Working with series of different lengths
print(ages + pd.Series([1,100]))

0     38.0
1    161.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64

In [77]:
# Ages > 50
print(scientists.loc[ages < 50])

                Name        Born        Died  Age          Occupation
0  Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
5          John Snow  1813-03-15  1858-06-16   45           Physician
6        Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist

In [82]:
print(scientists[(scientists['Age'] > 50) & (scientists['Died'] < '1900-01-01')])

           Name        Born        Died  Age     Occupation
7  Johann Gauss  1777-04-30  1855-02-23   77  Mathematician

In [86]:
scientists_original = scientists.copy()
born_datetime = pd.to_datetime(scientists.Born, format='%Y-%m-%d')
died_datetime = pd.to_datetime(scientists.Died, format='%Y-%m-%d')

scientists['born_dt'] = born_datetime
scientists['died_dt'] = died_datetime

In [91]:
# Shuffle the dataframe based on the Age column (series)
import random
random.seed(42)

random.shuffle(scientists['Age'])

/home/rnslucas/anaconda3/lib/python3.6/random.py:275: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  x[i], x[j] = x[j], x[i]

In [95]:
# Simple date maths to add a new column
scientists['age_days_dt'] = scientists.died_dt - scientists.born_dt

# Convert this to years using the "astype"
scientists['age_years_dt'] = scientists.age_days_dt.astype('timedelta64[Y]')
print(scientists)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   66             Chemist
1        William Gosset  1876-06-13  1937-10-16   56        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   41               Nurse
3           Marie Curie  1867-11-07  1934-07-04   77             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   90           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   37  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   61       Mathematician

     born_dt    died_dt age_days_dt  age_years_dt
0 1920-07-25 1958-04-16  13779 days          37.0
1 1876-06-13 1937-10-16  22404 days          61.0
2 1820-05-12 1910-08-13  32964 days          90.0
3 1867-11-07 1934-07-04  24345 days          66.0
4 1907-05-27 1964-04-14  20777 days          56.0
5 1813-03-15 1858-06-16  16529 days          45.0
6 1912-06-23 1954-06-07  15324 days          41.0
7 1777-04-30 1855-02-23  28422 days          77.0

In [98]:
names = scientists.Name
names.to_pickle('names_series.pickle')
scientists.to_pickle('scientists.pickle')

series_name_from_pickle = pd.read_pickle('names_series.pickle')
scientists_from_picket = pd.read_pickle('scientists.pickle')
print(series_name_from_pickle)
print(scientists_from_picket)

0       Rosaline Franklin
1          William Gosset
2    Florence Nightingale
3             Marie Curie
4           Rachel Carson
5               John Snow
6             Alan Turing
7            Johann Gauss
Name: Name, dtype: object
                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   66             Chemist
1        William Gosset  1876-06-13  1937-10-16   56        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   41               Nurse
3           Marie Curie  1867-11-07  1934-07-04   77             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   90           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   37  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   61       Mathematician

     born_dt    died_dt age_days_dt  age_years_dt
0 1920-07-25 1958-04-16  13779 days          37.0
1 1876-06-13 1937-10-16  22404 days          61.0
2 1820-05-12 1910-08-13  32964 days          90.0
3 1867-11-07 1934-07-04  24345 days          66.0
4 1907-05-27 1964-04-14  20777 days          56.0
5 1813-03-15 1858-06-16  16529 days          45.0
6 1912-06-23 1954-06-07  15324 days          41.0
7 1777-04-30 1855-02-23  28422 days          77.0

In [99]:
# Excel
scientists.to_excel("scientists.xlsx")
scientists_from_excel = pd.read_excel("scientists.xlsx")
print(scientists_from_excel)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   66             Chemist
1        William Gosset  1876-06-13  1937-10-16   56        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   41               Nurse
3           Marie Curie  1867-11-07  1934-07-04   77             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   90           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   37  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   61       Mathematician

     born_dt    died_dt  age_days_dt  age_years_dt
0 1920-07-25 1958-04-16        13780            37
1 1876-06-13 1937-10-16        22405            61
2 1820-05-12 1910-08-13        32965            90
3 1867-11-07 1934-07-04        24346            66
4 1907-05-27 1964-04-14        20778            56
5 1813-03-15 1858-06-16        16530            45
6 1912-06-23 1954-06-07        15325            41
7 1777-04-30 1855-02-23        28423            77